<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>DoctorRegistration</servlet-name>
        <servlet-class>DoctorRegistration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PatientRegistration</servlet-name>
        <servlet-class>PatientRegistration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorSignin</servlet-name>
        <servlet-class>DoctorSignin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateDoctorProfile</servlet-name>
        <servlet-class>UpdateDoctorProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChannelingServlet</servlet-name>
        <servlet-class>ChannelingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PatientProfileServlet</servlet-name>
        <servlet-class>PatientProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MakeAppointmentServlet</servlet-name>
        <servlet-class>MakeAppointmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PatientSignin</servlet-name>
        <servlet-class>PatientSignin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorProfile</servlet-name>
        <servlet-class>DoctorProfile</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DoctorRegistration</servlet-name>
        <url-pattern>/DoctorRegistration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PatientRegistration</servlet-name>
        <url-pattern>/PatientRegistration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorSignin</servlet-name>
        <url-pattern>/DoctorSignin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateDoctorProfile</servlet-name>
        <url-pattern>/UpdateDoctorProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChannelingServlet</servlet-name>
        <url-pattern>/ChannelingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PatientProfileServlet</servlet-name>
        <url-pattern>/PatientProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MakeAppointmentServlet</servlet-name>
        <url-pattern>/MakeAppointmentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PatientSignin</servlet-name>
        <url-pattern>/PatientSignin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorProfile</servlet-name>
        <url-pattern>/DoctorProfile</url-pattern>
    </servlet-mapping>
</web-app>
